@charset "UTF-8";
/**
 * 
 * @authors Pine Wong (pinewong@163.com)
 * @date    2016-05-28 10:40:33
 * @version $Id$
 */
/* line 21, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
.pine-container {
  margin: auto;
  width: 1110px;
  padding: 20px 0;
}

/* line 22, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
.pine-padding {
  padding: 20px;
}

/* line 24, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
img {
  display: block;
}

/* 闪现消息 */
/* line 27, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
#flash {
  background: #e2eed9;
}
/* line 29, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
#flash .item {
  height: 30px;
  line-height: 30px;
}
/* line 30, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
#flash .success {
  color: #849d80;
}
/* line 31, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
#flash .danger {
  color: #f8504b;
}
/* line 32, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
#flash .info {
  color: blue;
}
/* line 33, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
#flash .warning {
  color: orange;
}

/* debug */
/* line 37, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
.debug_dump {
  font-size: 16px;
  width: 60%;
  margin: 0 auto;
}

/* 账户 */
/* line 41, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
#fuel_index th, #fuel_record th {
  padding: 20px 20px;
}
/* line 42, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
#fuel_index td, #fuel_record td {
  padding: 10px 20px;
}
/* line 43, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
#fuel_index td, #fuel_record td {
  border-top: solid 1px gray;
}

/* 表单 */
/* line 48, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
.fuel_form {
  padding: 10px 25px;
}
/* line 50, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
.fuel_form .field {
  width: 260px;
  padding: 7px 5px;
  margin-bottom: 10px;
}
/* line 51, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
.fuel_form .radio {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 52, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
.fuel_form .button {
  display: inline-block;
  background: #1D6DA2;
  color: #fff;
  padding: 5px 10px;
  letter-spacing: 3px;
  text-decoration: none;
  border-radius: 3px;
  margin-right: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
/* line 54, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
.fuel_form .button:hover {
  background: #4D6De2;
  color: #eee;
}

/* 边栏 */
/* line 59, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
.fuel_sidebar {
  padding: 20px 20px;
}
/* line 61, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
.fuel_sidebar .title {
  font-weight: normal;
  margin: 20px 0;
}
/* line 63, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
.fuel_sidebar .title a {
  margin-left: 20px;
}
/* line 65, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
.fuel_sidebar .admin {
  font-size: 13px;
  color: #333;
  margin-bottom: 10px;
}
/* line 66, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
.fuel_sidebar .link {
  margin-bottom: 10px;
}

/* line 69, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
a {
  text-decoration: none;
  font-size: 14px;
  transition: all 0.2s ease 0s;
}
/* line 73, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
a:link {
  color: #000;
}
/* line 74, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
a:visited {
  color: #000;
}
/* line 75, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
a:hover {
  color: #f8504b;
}
/* line 76, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
a:active {
  color: red;
}

/* line 79, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
.button_a {
  display: inline-block;
  background: #1D6DA2;
  color: #fff;
  padding: 5px 10px;
  letter-spacing: 3px;
  text-decoration: none;
  border-radius: 3px;
  margin-right: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
/* line 81, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
.button_a:hover {
  background: #4D6De2;
  color: #eee;
}

/* line 85, /Users/mac/apps/pay/app/assets/stylesheets/base.scss */
#ManagerIndex #fuel_new, #ManagerIndex #fuel_edit {
  margin-top: 20px;
  margin-left: 280px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
