<div id= "footer">
	<div id="footerc"style="margin: 0px auto;width:960px;height:76px;">

	</div>
	<div style="text-align:center;margin:30px 0; font:normal 18px 'MicroSoft YaHei';">
		<p>江西缴费通信息技术有限公司 Copyright © JFT.net.cn All Rights Reserved.  ICP备案号：赣B1.B2-20120038</p>

	</div>

</div>
