		</li>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>查询缴费</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="布尔教育 http://www.itbool.com" />
<link  href="css/index.css" rel="stylesheet" type="text/css" />
<link href="css/menustyle.css" rel="stylesheet">
<link href="css/ManagerLogin.css" rel="stylesheet">
<link href="css/JiaoFei.css" rel="stylesheet">

</head>
    <body>
    	<link href="css/style.css" rel="stylesheet" />
            <script type="text/javascript" src="js/startMove.js"></script>      
            <script type="text/javascript" src="js/jQuerystartMove.js"></script>
    	<div id="content">　　<!--这个是总的div content-->
    	<div id="header">
    		<div id="headergundong">
                                       <br />
    			<marquee behavior="alternate" ><h1 style="color:black;font:bold;font-family:楷体; ">欢迎来到，江西缴费通网上营业厅 ！</h1></marquee>
    		</div>
             
    	</div>      <!--这个是总的div里的头部div-->
    	<div class="htmleaf-container" >      <!--这个div是用来做菜单的-->
	<nav class="animenu"> 
	  <button class="animenu__toggle">
		<span class="animenu__toggle__bar"></span>
		<span class="animenu__toggle__bar"></span>
		<span class="animenu__toggle__bar"></span>
	  </button>
	  <ul class="animenu__nav">
		<li style="font-weight:bold">
		  <a href="index.html" >网厅首页</a>
		</li>
		<li style="font-weight:bold">
		  <a href="#">费用业务</a>
		  <ul class="animenu__nav__child" style="z-index:10">
			<li style="font-weight:bold"><a href="JiaoFei.html">　网上缴费</a></li>
			<li style="font-weight:bold"><a href="ChaXun.html">　缴费查询</a></li>
		  </ul>
		</li>     
		<li style="font-weight:bold">
		  <a href="#">服务指南</a>
		  <ul class="animenu__nav__child" style="z-index:10">
			<li style="font-weight:bold"><a href="">　服务公告</a></li>
			<li style="font-weight:bold"><a href="">　服务承若</a></li>
			<li style="font-weight:bold"><a href="">　收费标准</a></li>
			<li style="font-weight:bold"><a href="">　服务程序</a></li>
			<li style="font-weight:bold"><a href="">　服务网点</a></li>
		  </ul>
		</li>
		<li style="font-weight:bold">
		  <a href="#">用气常识</a>
		  <ul class="animenu__nav__child" style="z-index:10">
			<li style="font-weight:bold"><a href="">　安全用气</a></li>
			<li style="font-weight:bold"><a href="">　常见问题</a></li>
			<li style="font-weight:bold"><a href="">　法律法规</a></li>
		  </ul>
		</li>
		<li style="font-weight:bold">
		  <a href="">关于我们</a>
		</li>                 
	  </ul>
	</nav>
</div>
<div id="ChaXun">
	<div id="shuru">
		<h2>请输入你要查询的用户编号：</h2>
				     <script type="text/javascript">
         function check(form) {

        
       if(form.password.value==''){
                alert("请输入用户编号");
                form.password.focus();
                return false;
         }
         return true;
         }
</script>

<form action="" method="post">

<br />
 　用户编号      
<input type="text" name="password" size="14" value=""/>      

 <input type=submit name="submit1" value="查询" onclick="return check(this.form)">  

</form>   
	</div>
	<div id="xinxi">
		<table border="1" height="200" width="800" >
			<tr>
				<td>序号</td>
				<td>用户编号</td>
				<td>收费单位</td>
				<td>户名</td>
				<td>地址</td>
				<td>余额</td>
				<td>最后缴费时间</td>
			</tr>
			<tr>
				<td>1</td>
				<td>7896543076</td>
				<td>南昌公司</td>
				<td>张三</td>
				<td>南昌市</td>
				<td>999.00</td>
				<td>2016/6/6</td>
			</tr>
				<tr>
				<td>1</td>
				<td>7896543076</td>
				<td>南昌公司</td>
				<td>张三</td>
				<td>南昌市</td>
				<td>999.00</td>
				<td>2016/6/6</td>
			</tr>
				<tr>
				<td>1</td>
				<td>7896543076</td>
				<td>南昌公司</td>
				<td>张三</td>
				<td>南昌市</td>
				<td>999.00</td>
				<td>2016/6/6</td>
			</tr>
		</table>
	</div>
</div>
 


   
    	   <div id= "footer">
            <div id="footerc"style="margin: 0px auto;width:960px;height:76px;">
                
            </div>
    		<div style="text-align:center;margin:30px 0; font:normal 18px 'MicroSoft YaHei';">
<p>江西缴费通信息技术有限公司 Copyright © JFT.net.cn All Rights Reserved.  ICP备案号：赣B1.B2-20120038</p>

</div>

    	</div>
    	</div>
    </body>
</html>